<!DOCTYPE html>
<html lang="jp">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/layout.css') }}">
</head>
<body onload="draw()">
  <div id="particles-js"></div>
  <br>
  <div class="container">
    {% for faceDetail in faceDetails %}
      <div class="groups">
        <canvas id="c1" width={{ faceDetail.imgmeta.width }} height=600></canvas>
        <script type="text/javascript">
            function draw() {
              var canvas = document.getElementById('c1');

              if (!canvas || !canvas.getContext) {
                return false;
              }
              var context = canvas.getContext('2d');
              var img = new Image();

              img.src = "{{ url_for('static', filename=faceDetail.photoname) }} ";

              img.onload = function onImageLoad() {
                context.drawImage(img, 0,0);
              }
            }
        </script>
        <script type="text/javascript">
          function test_func(data) {
              console.log(data);
          }
          test_func({{ faceDetail.imgmeta|safe }})
        </script>
        <br>
         {{ faceDetail.groupname }} teams HAPPY score is {{ faceDetail.avgscore }}<br>
      </div>
    {% endfor %}
  </div>
  <script src="{{ url_for('static', filename='./js/particles.js') }}"></script>
  <script src="{{ url_for('static', filename='./js/particlesconfig.js') }}"></script>
</body>
